body {
    background: linear-gradient(#503ab5, #463c21);
}

.App {
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.conversor-container {
    color: white;
    padding: 11px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
